* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #387bf4;
    color: white;
}

body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}

section{
    background: #fefefe;
    box-shadow: 1px 2px 8px 0px #387bf4;
}

.input_section {
    flex-direction: column;
    padding: 16px;
    border-radius: 10px;
}

.input_header{
    display: flex;
    justify-content: space-between;
    color: #387bf4;
    align-items: center;
}

.input_header > button.close{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    border:none;
    font-weight: bold;
    font-size: 2rem;
    background:none;
    color: #de4023;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 30%;
}

.input_header > button.close:hover{
    color: #fff;
    background-color: #de4023;
    transition: 0.35s ease-in;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: #387bf4;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_text {
    display: block;
    width: 100%;
    padding: 8px 12px;
    border-radius: 5px;
    border:2px solid #5991f6;
}

.input_text:focus,
.input_text:focus-visible,
.input_text:active {
    border-color:#e7a604ed;
    outline:none;
}


.input_section > form > .input > label {
    color: #387bf4;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: #387bf4;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
}

.search_section > h2 {
    color: #387bf4;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: flex;
}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    display: flex;
    padding: 5px 10px;
    border-radius: 5px;
    flex: 2;
    margin-right: 100px;
}

.search_section > form button {
    background-color: #387bf4;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
}

form > button:hover{
    transition: 0.35s ease-in-out;
    background-color:#e7a604ed;
}

.book_shelf {
    margin: 16px 0 0 0;
    padding: 16px;
    border-radius: 10px;
}


.book_shelf > h2::before {
    content: '> ';
}
.book_shelf > h2 {
    background: #387bf4;
    color: #fff;
    margin-left: 16px;
    width: auto !important;
    display: inline-block;
    padding:2.5px 10px 5px 10px;
    
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 16px 16px;
    border-radius: 5px;
    margin: 0 0 10px 0;
    border: 2px solid #387bf44f;
    box-shadow: 3px 2px 4px #c0d5fbd1;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    width: 14rem;
    padding: 7.5px 14px;
    font-weight: bolder;
    margin: 10px 5px 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #fff;
    border:3px solid #387bf4;
    border-radius: 7.5px;
    color: #387bf4;
}

.book_shelf > .book_list > .book_item > .action > button:hover {
    transition: .65s ease-out;
    background-color: #387bf4;
    color: #fff;
}

/* Button incomplete */
.action > .btn-incomplete {
    border:3px solid #93c5fc !important;
    color: #93c5fc !important;
}
.action > .btn-incomplete:hover {
    color: #fff !important;
    background: #93c5fc !important;
}

/* Button remove */
.action > .btn-remove {
    border:3px solid #de4023 !important;
    color: #de4023 !important;
}
.action > .btn-remove:hover {
    color: #fff !important;
    background: #de4023 !important;
}

.btn-icon {
    font-size: 2rem;
    width: 20px;
    line-height: 20px;
    margin-right: 5px;
}

.d-none {
    display: none !important;
    visibility: hidden !important;
}

.d-flex {
    display: flex;
}